.input-container {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #d3d3d3;
  height: 56px;
}

.input {
  border: none;
  border-radius: 0;
  width: 80%;
  font-size: 1.2em;
  padding: 10px;
  /* height: 50px; */
}

/* Remove side-effect close button on input */
::-ms-clear {
  display: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-message-container {
  padding: 10px;
}

.send {
  transform: scale(0.54);
}
