/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
}

.join-main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #568ea6;
}

.sub-container {
  width: 20%;
}

.join-input {
  margin-top: 20px;
  padding: 15px 20px;
  width: 100%;
}

.header {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
}

.button {
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #c8858f;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
