.header-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #343b43;
  border-radius: 4px 4px 0 0;
  height: 70px;
  width: 100%;
}

.left-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.right-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.header-text {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
}
